body {
    margin: 0;
    background-image: url("/images/football_field_background.jpg");
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: goldenrod;
    max-width: 500px;
    margin: 300px auto;
    border-style: solid;
    border-radius: 10px;
    font-family: Kanit, sans-serif;
}

h3 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

#counter-h, #counter-g {
    text-align: center;
    font-size: 2.5rem;
    border-style: solid;
    border-radius: 5px;
    font-family: Orbitron;
    background-color: black;
    color: purple;
    margin: 1rem;
    padding: 1rem;
}

.btns {
    text-align: center;
    margin-bottom: 1rem;
}

button {
    border: 2px solid rgb(0, 0, 0);
    background-color: goldenrod;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    font-family: Orbitron, sans-serif;
}

button:hover {
    background-color: rgb(231, 175, 31);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#clear-home, #clear-guest {
    width: 7.4rem;
    margin-top: 2px;
}